.Background
{
    background-image: url("https://i.ytimg.com/vi/XzTCntGgNJU/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 40px;
    color: rgb(155, 0, 0);
    padding: 10px; 
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    cursor: pointer;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:lightgray;
    color: black;
  }
  
  .dropdown-content {
    display: none;
    cursor: pointer;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .personalinfo
  {
      height: 150px;;
  }
  #logout:hover
  {
    background-color: red;
    color: white; 
  }
  .tra th
  {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .tdd td
  {
    border: 1px solid black;
    border-collapse: collapse;
  }
